<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_launcher_custom"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_custom"
        android:supportsRtl="true"
        android:theme="@style/Theme.REPOSALUD">

        <activity
            android:name=".activities.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.REPOSALUD.Splash">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".activities.RegisterActivity"/>
        <activity android:name=".activities.HomeActivity"/>
        <activity android:name=".activities.AgendarCitaActivity"/>
        <activity android:name=".activities.EspecialidadesActivity"
            android:theme="@style/Theme.REPOSALUD"/>
        <activity android:name=".activities.DetalleEspecialidadActivity"
            android:theme="@style/Theme.REPOSALUD"/>
        <activity android:name=".activities.ListaDoctoresActivity"
            android:theme="@style/Theme.REPOSALUD"/>
        <activity android:name=".activities.DetalleDoctorActivity"
            android:theme="@style/Theme.REPOSALUD"/>
        <activity android:name=".activities.ProfileActivity"
            android:theme="@style/Theme.REPOSALUD"/>
        <activity android:name=".activities.EditProfileActivity"
            android:theme="@style/Theme.REPOSALUD"/>
        <activity android:name=".activities.HistorialMedicoActivity"
            android:theme="@style/Theme.REPOSALUD"/>
        <activity android:name=".activities.AjustesActivity"
            android:theme="@style/Theme.REPOSALUD"/>
        <activity android:name=".activities.PagoActivity"
            android:theme="@style/Theme.REPOSALUD"/>
        <activity android:name=".activities.MisCitasActivity"
            android:theme="@style/Theme.REPOSALUD"/>
        <activity android:name=".activities.TeleconsultaActivity"
            android:theme="@style/Theme.REPOSALUD"/>

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

    </application>

</manifest>